<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />


    <!--PERMISSIONS BELOW ARE NORMAL PERMISSIONS. NO NEED To ASK FOR THEM/-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-sdk tools:overrideLibrary="timber.log" />
    <application
        android:name="com.HMSolutions.thikrallah.quran.labs.androidquran.QuranApplication"

        android:allowBackup="true"
        android:exported="true"
        android:fullBackupContent="@xml/backup"
        android:icon="@drawable/ic_launcher"
        android:label="@string/my_app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"

        android:theme="@style/AppTheme"
        tools:replace="android:theme,android:label,android:icon">
        <activity
            android:name="com.HMSolutions.thikrallah.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.HMSolutions.thikrallah.PreferenceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.HMSolutions.thikrallah.MediaBrowser"
            android:exported="false"
            android:theme="@style/AppTheme.Preference" />
        <activity
            android:name="com.HMSolutions.thikrallah.hisnulmuslim.DuaGroupActivity"
            android:exported="false"
            android:label="@string/title_activity_dua_list"

            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.HMSolutions.thikrallah.hisnulmuslim.DuaDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_dua_detail"
            android:parentActivityName="com.HMSolutions.thikrallah.hisnulmuslim.DuaGroupActivity"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name="com.HMSolutions.thikrallah.hisnulmuslim.AboutActivity"
            android:exported="false"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.HMSolutions.thikrallah.hisnulmuslim.DuaGroupActivity"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.HMSolutions.thikrallah.hisnulmuslim.DuaGroupActivity" />
        </activity>
        <activity
            android:name="com.HMSolutions.thikrallah.hisnulmuslim.BookmarksGroupActivity"
            android:exported="false"
            android:label="@string/title_activity_bookmarks"
            android:parentActivityName="com.HMSolutions.thikrallah.hisnulmuslim.DuaGroupActivity"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.HMSolutions.thikrallah.hisnulmuslim.DuaGroupActivity" />
        </activity>
        <activity
            android:name="com.HMSolutions.thikrallah.hisnulmuslim.BookmarksDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_dua_detail"
            android:parentActivityName="com.HMSolutions.thikrallah.hisnulmuslim.BookmarksGroupActivity"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name="com.HMSolutions.thikrallah.hisnulmuslim.PreferencesActivity"
            android:exported="false"
            android:label="@string/title_activity_preferences"
            android:theme="@style/AppTheme.Base" />

        <service
            android:name="com.HMSolutions.thikrallah.Notification.ThikrService"
            android:enabled="true"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false" />

        <service
            android:name="com.HMSolutions.thikrallah.ThikrMediaPlayerService"
            android:enabled="true"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false" />
        <service
            android:name="com.HMSolutions.thikrallah.Notification.ChatHeadService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
        <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
            android:value="One of the app's functionality is to trigger exact alarms at pre-set times.
                            Those exact alarms are core part of app functionality. They provide timely reminder
                            of prayer times for muslims 5 times a day. This service shows an overlay window
                            that allows user to turn off the alarm quickly as needed"/>
        </service>
        <service
            android:name="com.HMSolutions.thikrallah.Notification.AthanTimerService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:foregroundServiceType="specialUse" >
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="One of app's core functionality is to remind users of prayer times during the day.
                                Islamic prayer times are schedueled at pre-set times during teh day. This service
                                shows a persistent notification showing how much time remaining until next prayer.
                                Users have the option to disable or enable this feature in the app's settings"/>
        </service>


        <receiver
            android:name="com.HMSolutions.thikrallah.Notification.ThikrAlarmReceiver"
            android:exported="false" />
        <receiver
            android:name="com.HMSolutions.thikrallah.Notification.QuranThikrDownloadNeeds"
            android:exported="false" />
        <receiver
            android:name="com.HMSolutions.thikrallah.Notification.ThikrBootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.HMSolutions.thikrallah.Notification.ThikrBootReceiver.android.action.broadcast" />
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.HMSolutions.thikrallah.Notification.ThikrMediaBroadcastReciever"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.HMSolutions.thikrallah.quran.labs.androidquran.QuranDataActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>

        <activity
            android:name="com.HMSolutions.thikrallah.quran.labs.androidquran.ShortcutsActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.HMSolutions.thikrallah.quran.labs.androidquran.ui.QuranActivity"
            android:exported="false"
            android:theme="@style/QuranToolBar" />
        <activity
            android:name="com.HMSolutions.thikrallah.quran.labs.androidquran.AboutUsActivity"
            android:exported="false"
            android:theme="@style/QuranToolBar" />
        <activity
            android:name="com.HMSolutions.thikrallah.quran.labs.androidquran.HelpActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.HMSolutions.thikrallah.quran.labs.androidquran.ui.PagerActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/QuranToolBar.Overlay" />
        <activity
            android:name="com.HMSolutions.thikrallah.quran.labs.androidquran.ui.TranslationManagerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.HMSolutions.thikrallah.quran.labs.androidquran.QuranPreferenceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/QuranToolBar" />
        <activity
            android:name="com.HMSolutions.thikrallah.quran.labs.androidquran.QuranAdvancedPreferenceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/QuranToolBar" />

        <activity
            android:name="com.HMSolutions.thikrallah.quran.labs.androidquran.SearchActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:exported="true"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.HMSolutions.thikrallah.quran.labs.androidquran.QuranForwarderActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="quran" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.HMSolutions.thikrallah.quran.labs.androidquran.ui.AudioManagerActivity"
            android:exported="false"
            android:theme="@style/Quran" />

        <!-- declare the default searchable Activity for the whole app -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchActivity" />
        <!-- provides search suggestions for verses. -->
        <provider
            android:name="com.HMSolutions.thikrallah.quran.labs.androidquran.data.QuranDataProvider"
            android:authorities="@string/authority"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/file_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.HMSolutions.thikrallah.quran.labs.androidquran.QuranImportActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/json" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.backup"/>
                <data android:pathPattern=".*\\..*\\.backup"/>
                <data android:pathPattern=".*\\..*\\..*\\.backup"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.backup"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.HMSolutions.thikrallah.quran.labs.androidquran.pageselect.PageSelectActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service
            android:name="com.HMSolutions.thikrallah.quran.labs.androidquran.service.QuranDownloadService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            />
        <service
            android:name="com.HMSolutions.thikrallah.quran.labs.androidquran.service.AudioService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>
    </application>
    <queries>
        <!-- Email -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>

    </queries>
</manifest>
