<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.HMSolutions.thikrallah">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!--PERMISSIONS BELOW ARE NORMAL PERMISSIONS. NO NEED To ASK FOR THEM/-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:label,android:theme">
        <activity
            android:name="com.HMSolutions.thikrallah.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.HMSolutions.thikrallah.PreferenceActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="com.HMSolutions.thikrallah.MediaBrowser"
            android:theme="@style/Theme.AppCompat"></activity>
        <activity
            android:name="com.HMSolutions.thikrallah.hisnulmuslim.DuaGroupActivity"
            android:label="@string/title_activity_dua_list"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.HMSolutions.thikrallah.hisnulmuslim.DuaDetailActivity"
            android:label="@string/title_activity_dua_detail"
            android:parentActivityName="com.HMSolutions.thikrallah.hisnulmuslim.DuaGroupActivity"
            android:theme="@style/AppTheme.Base"></activity>
        <activity
            android:name="com.HMSolutions.thikrallah.hisnulmuslim.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.HMSolutions.thikrallah.hisnulmuslim.DuaGroupActivity"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.HMSolutions.thikrallah.hisnulmuslim.DuaGroupActivity" />
        </activity>
        <activity
            android:name="com.HMSolutions.thikrallah.hisnulmuslim.BookmarksGroupActivity"
            android:label="@string/title_activity_bookmarks"
            android:parentActivityName="com.HMSolutions.thikrallah.hisnulmuslim.DuaGroupActivity"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.HMSolutions.thikrallah.hisnulmuslim.DuaGroupActivity" />
        </activity>
        <activity
            android:name="com.HMSolutions.thikrallah.hisnulmuslim.BookmarksDetailActivity"
            android:label="@string/title_activity_dua_detail"
            android:parentActivityName="com.HMSolutions.thikrallah.hisnulmuslim.BookmarksGroupActivity"
            android:theme="@style/AppTheme.Base"></activity>
        <activity
            android:name="com.HMSolutions.thikrallah.hisnulmuslim.PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:theme="@style/AppTheme.Base"></activity>

        <service
            android:name="com.HMSolutions.thikrallah.Notification.ThikrService"
            android:enabled="true" />

        <service
            android:name="com.HMSolutions.thikrallah.ThikrMediaPlayerService"
            android:enabled="true" />
        <service
            android:name="com.HMSolutions.thikrallah.Notification.ChatHeadService"
            android:enabled="true" />
        <service
            android:name="com.HMSolutions.thikrallah.Notification.AthanTimerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true" />

        <receiver android:name="com.HMSolutions.thikrallah.Notification.ThikrAlarmReceiver" />
        <receiver android:name="com.HMSolutions.thikrallah.Notification.ThikrBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.HMSolutions.thikrallah.Notification.ThikrBootReceiver.android.action.broadcast" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.HMSolutions.thikrallah.Notification.ThikrMediaBroadcastReciever">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="538344ba5873c9838593b43901f011a0fb34b24c" />
    </application>

</manifest>